@inject NavigationManager NavigationManager

@*<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
                        <RedirectToLogin ReturnUrl="@returnUrl"/>
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
                <Authorizing>
                    <LoadingSpinner />
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>*@

<div style="font-family: Arial, sans-serif; background-color: #f0f0f0; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
        <div style="background-color: #ffffff; border-radius: 8px; padding: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: left;">
            <h1>Important Update!</h1>
            <p>Please read attentively, this application is no longer available at this address.</p>
            <p>We have migrated the application to:</p>
            <p style="font-size: 40px"><a href="https://serve-app.net/">https://serve-app.net/</a></p>
             <p>Steps to use the new app:</p>
            <ol>
                <li>
                    In the new app, it will be mandatory to have an account to access. If you want to have all your old data, just register with the same email you used in this app. Then you will be linked with all your information without further actions.
                    <span style="font-weight: bold;">You can use any social connection you like as long as it has the same email used before.</span>
                </li>
                <li>After registering, enjoy the new UI app.</li>
                <li>Don't forget this is a PWA that can be downloaded to your phone by adding the page to your home screen, and we will implement some native functionalities.</li>
            </ol>
            <div style="border-top: 1px solid #ccc; margin: 20px 0;"></div>

            <p>The application remains in an Alpha version, and we are working hard to bring all the latest features to the new version.</p>
            <p>The project continues, and we will keep delivering new features continuously to the new version.</p>
            <p>Our Roadmap for the next few months includes:</p>
            <ul>
                <li>Improving matches matchmaking user experience.</li>
                <li>Implementing a new Tournament service.</li>
                <li>Integration with some clubs.</li>
            </ul>
            <p>Thanks for your understanding and trust in us!</p>
            <p><strong>Vamos!</strong></p>
        </div>
</div>

<MessageProvider />
