@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    if (provider.DisplayName.Equals("Google"))
                                    {
                                        <button id="googleRegisterButton" type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" style="width: 100%; display: flex; align-items: center; justify-content: center; padding: 10px; border: 2px solid grey; background-color: white; color: #1a1e21; font-size: 20px;">
                                            <img src="/SignInnLogos/google-logo.png" alt="@provider.DisplayName logo" style="width: 30px; margin-right: 10px;" />
                                            <span id="googleButtonText">Register in with @provider.DisplayName</span>
                                            <div id="googleSpinner" class="spinner-border text-primary" role="status" style="display: none;">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </button>

                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider"
                                                value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                            @provider.DisplayName
                                        </button>
                                    }                                
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Or create a traditional account.</h2>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Bob"/>
                <label asp-for="Input.UserName">User Name</label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com"/>
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" onclick="hideButton()">
                <span id="buttonText">Register</span>
                <div id="spinner" class="spinner-border text-light" role="status" style="display: none;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
    <script>
    function hideButton() {
        document.getElementById('buttonText').style.display = 'none';
        document.getElementById('spinner').style.display = 'block';
    }

    // On load
    window.addEventListener('load', function() {
        const form = document.getElementById('registerForm');
        const button = document.getElementById('registerSubmit');
        const googleButton = document.getElementById('googleRegisterButton');
    
        googleButton.addEventListener('click', function() {
            googleButton.style.pointerEvents = 'none';
            document.getElementById('googleButtonText').style.display = 'none';
            document.getElementById('googleSpinner').style.display = 'block';
        });
    
        // On form input change
        form.addEventListener('input', function() {
            // Check form validity and update button disabled state
            button.disabled = !form.checkValidity();
        });
    });

    </script>
}