@page "/match/{MatchId:guid}/detail"

@using EventsManager.Shared.Responses
@using EventsManager.Client.Components.Modals
@using EventsManager.Client.Components.Match
@using EventsManager.Client.Components.Match.Results
@using EventsManager.Shared.Requests
@using Color = Blazorise.Color

@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject IToastService ToastService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (_loading)
{
    <MatchDetailSkeleton></MatchDetailSkeleton>
}
@if (_match != null)
{
    <div class="border info">
        <div class="header">
            <div>
                PADEL
            </div>
            <div style="font-size: 12px">
                @_match.StartDateTime.ToLongDateString() / @_match.StartDateTime.ToShortTimeString()
            </div>
        </div>
        <div class="action-buttons top-right">
            @if (_match.RequesterIsTheCreator )
            {
                @if (!_match.Finished)
                {
                    <Buttons Size="Size.Small">
                        <Button @onclick="ShowEditModal" Color="Color.Primary" Outline >Edit</Button>
                        <Button @onclick="ShowRemoveModal" Color="Color.Danger" Outline >Delete</Button>
                    </Buttons>
                }
            }
        </div>
        <Divider />
        <div class="info-footer">
            <div class="info-footer-box">
                <div class="info-footer-box-content">
                    Gender
                </div>
                <div class="info-footer-box-content grey-typo">
                    Not set
                </div>
            </div>
            <div class="info-footer-box">
                <div class="info-footer-box-content">
                    Level
                </div>
                <div class="info-footer-box-content grey-typo">
                    All
                </div>
            </div>
            <div class="info-footer-box">
                <div class="info-footer-box-content">
                    Duration
                </div>
                <div class="info-footer-box-content grey-typo">
                    @_match.Duration @_hourWord
                </div>
            </div>
            <div class="info-footer-box">
                <div class="info-footer-box-content">
                    Price
                </div>
                <div class="info-footer-box-content grey-typo">
                    @if(_matchPrice == 0)
                    {
                        <p>-</p>
                    }
                    else
                    {
                        <p>@_matchPrice €</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="border match-detail-private">
        @if (_match.IsPrivate)
        {
            <div class="status">
                <i class="bi bi-lock"></i> <p> Private</p>
            </div>
        }
        else
        {
            <div class="status">
                <i class="bi bi-unlock"></i> <p style="font-size: 12px"> Public</p>
            </div>
        }
        <div class="separator"></div>
        <div class="creator">
            <p style="font-size: 12px">Created By: @_match.CreatorNickName</p>
        </div>
    </div>
    
    <MatchDetailPlayers ReturnUrl="@MatchPath" RefreshMatch="GetMatch" Match="_match"></MatchDetailPlayers>
    
    @if (_match.PlayersCount == 4)
    {
        <ShowResults Match="_match" RefreshMatch="GetMatch"></ShowResults>
    }

    <EditMatch Match="_match" Visible="_editModalVisible" ConfirmationChanged="EditMatch"></EditMatch>
    <ConfirmationModal ConfirmationChanged="RemoveMatch" Visible="_deleteModalVisible" Title="Delete Match" Message="Are you sure you want to delete this match?"></ConfirmationModal>
}

@code {
    [Parameter]
    public Guid? MatchId { get; set; }
    
    private bool _loading;

    private string MatchPath => $"match/{MatchId}/detail";
    
    private MatchResponse? _match;
    private bool _editModalVisible;
    private bool _deleteModalVisible;
    private double _matchPrice;
    private string _hourWord = "hour";   
    
    protected override async Task OnInitializedAsync()
    {
        await GetMatch();
        if (_match != null)
        {
            _matchPrice = _match.PricePerHour * _match.Duration;
            if (_match.Duration != 1)
            {
                _hourWord = "hours";
            }
        }
    }

    private async Task GetMatch()
    {
        if (MatchId.HasValue)
        {
            try
            {
                _loading = true;
                HttpResponseMessage? response;
                var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                if (authState.User.Identity?.IsAuthenticated == false)
                {
                    var http = HttpClientFactory.CreateClient("PadelPoint.ServerAPI.Anonymous");
                    response = await http.GetAsync($"match/{MatchId.Value}");
                }
                else
                {
                    response = await Http.GetAsync($"match/{MatchId.Value}");
                }

                if (response.IsSuccessStatusCode)
                {
                    _match = await response.Content.ReadFromJsonAsync<MatchResponse>();
                }
                else
                {
                    var error = await response.Content.ReadAsStringAsync();
                    ToastService.ShowError(error);
                }
            }
            catch (Exception)
            {
                ToastService.ShowError("Something went wrong, please try again later.");
            }
            finally
            {
                _loading = false;
            }
        }
    }
    
    private void ShowEditModal()
    {
        _editModalVisible = true;
    }
    
    private void ShowRemoveModal()
    {
        _deleteModalVisible = true;
    }
    
    private async Task RemoveMatch(bool removeIt)
    {
        _loading = true;
        if (removeIt)
        {
            try
            {
                var response = await Http.DeleteAsync($"match/{MatchId.Value}");
        
                if(response.IsSuccessStatusCode)
                {
                    ToastService.ShowInfo("Match has been removed successfully.");
                    NavigationManager.NavigateTo("/");
                }
                else
                {
                    var error = await response.Content.ReadAsStringAsync();
                    ToastService.ShowError(error);
                }
            }
            catch (Exception)
            {
                ToastService.ShowError("Something went wrong, please try again later.");
            }
           
        }
        _loading = false;
        _deleteModalVisible = false;
    }
    
    private async Task EditMatch(CreateMatchRequest? editMatchRequest)
    {
        _loading = true;
        if (editMatchRequest != null)
        {
            try
            {
                var response = await Http.PutAsJsonAsync($"match/{MatchId.Value}", editMatchRequest);

                if(response.IsSuccessStatusCode)    
                {
                    ToastService.ShowInfo("Match has been updated successfully.");
                    await GetMatch();
                }
                else
                {
                    var error = await response.Content.ReadAsStringAsync();
                    ToastService.ShowError(error);
                }
            }
            catch (Exception)
            {
                ToastService.ShowError("Something went wrong, please try again later.");
            }
        }
        
        _editModalVisible = false;
        _loading = false;
    }
}

<style>

    .action-buttons{
        display: flex;
        justify-content: space-evenly;
        margin-top: 12px;
    }
    
    .border
    {
        position: relative;
        margin: 12px;
        padding: 12px;
        border: 2px solid grey;
        border-radius: 10px;   
        display: flex;  
        background-color: white;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .top-right {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
    
    .grey-typo
    {
        color: grey;
    }
    
    .info
    {
        flex-direction: column;
    }
    
    .info-footer
    {
        display: flex;  
        flex-direction: row;
        justify-content: space-between;
    }
    
    .info-footer-box
    {
        display: flex;  
        flex-direction: column;    
        margin: 12px;
    }
    
    .info-footer-box-content
    {
        text-align: center;
    }    
    
    .player-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
     
    .match-detail-private {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .match-detail-private i {
        margin-right: 8px;
    }
    
    .match-detail-private p {
        margin: 0;
    }
    
    .status, .creator {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
    }
    
    .separator {
        width: 2px;
        background-color: grey;
        height: 50%;
        align-self: center;
    }
</style>
