@using EventsManager.Shared.Responses
@using EventsManager.Client.Components.Match
@using Color = Blazorise.Color

@if (!Tournament.ShowBrackets)
{
    <Alert Style="margin-top: 10px" Color="Color.Info" Visible>
        <AlertMessage>Competition view disabled</AlertMessage>
        <AlertDescription>Right now the competition view is disabled by an admin, will be enabled soon.</AlertDescription>
    </Alert>
}
else
{
    @if (Tournament.RoundRobinPhaseGroups > 0 && Tournament.RoundRobinPhaseMatches.Any())
    {
        <div class="round-robin">
            <h3 class="round-robin-title">Round Robin Phase</h3>
            @if(Tournament.RoundRobinPhaseGroups > 1)
            {
                <p>There are @Tournament.RoundRobinPhaseGroups groups with @Tournament.RoundRobinPhaseMatches.Count() matches in this phase.</p>
            }
            else
            {
                <p>There is @Tournament.RoundRobinPhaseGroups group with @Tournament.RoundRobinPhaseMatches.Count() matches in this phase.</p>
            }
            @if (!Tournament.RoundRobinPhaseMatches.Any(x => x.IsFinished))
            {
                <Alert Color="Color.Info" Visible>
                    Phase in progress...
                </Alert>
            }
            else
            {
                <Alert Color="Color.Success" Visible>
                    Phase finished!
                </Alert>
            }
            
            <div class="group-header-container">
                @for (int groupNumber = 1; groupNumber <= Tournament.RoundRobinPhaseGroups; groupNumber++)
                {
                    var groupMatches = Tournament.RoundRobinPhaseMatches
                        .Where(x => x.RoundRobinPhaseGroup == groupNumber)
                        .GroupBy(x => x.RoundRobinPhaseRound)
                        .OrderBy(group => group.Key);

                    if (groupMatches.Any())
                    {
                        <div class="group">
                            <h4 class="group-title">Group @groupNumber</h4>
                            @foreach (var roundGroup in groupMatches)
                            {
                                <div class="round">
                                    <h5 style="text-align: left;">Round @roundGroup.Key</h5>
                                    <div class="round-matches">
                                        @foreach (var match in roundGroup)
                                        {
                                            <TournamentMatch Match="@match"></TournamentMatch>
                                        }
                                    </div>
                                </div>
                            }
                            <Divider />
                        </div>
                        
                    }
                }
            </div>
        </div>
    }
}

@code {
    [Parameter]
    public TournamentDetailResponse? Tournament { get; set; }
}

<style>
    .round-robin {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center content horizontally */
        text-align: center; /* Center text horizontally */
    }

    .round-robin-title {
        margin-bottom: 10px;
    }

    .group-header-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center content horizontally */
        text-align: center; /* Center text horizontally */
    }

    .group-title {
        margin-bottom: 5px; /* Add some space below the group title */
    }

    .round {
        margin-bottom: 10px;
    }
    
    .round-matches {
        display: flex;
        justify-content: center;
         flex-wrap: wrap;
    }
</style>
