@using Color = Blazorise.Color
@using EventsManager.Shared.Requests
@using EventsManager.Client.Components.Players
@using EventsManager.Shared.Responses
@using System.Net
@using EventsManager.Shared.Enums

@inject HttpClient Http
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationState


@if (Tournament != null)
{
    <Modal @ref="_modalRef">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle Size="HeadingSize.Is5">Sign in to: @Tournament.Name</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Search your couple *(Should be register in the app)</FieldLabel>
                    <input type="text" class="form-control" placeholder="Search your couple..." @oninput="OnSearch" />
                    <div class="search-players-list">
                        @foreach (var player in _searchedPlayers)
                        {
                            <div class="searched-player">
                                <div>
                                    @player.NickName (@player.Elo)
                                </div>
                                <div>
                                    @if (!_invitingPlayer)
                                    {
                                        <Button Size="Size.Small" Color="Color.Success" Clicked="() => SelectInvitePlayer(player)" Outline>Select</Button>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                    @if (_selectedPlayer != null)
                    {
                        <Divider></Divider>
                        <PlayerCard Player="@_selectedPlayer"></PlayerCard>
                        <Button Size="Size.Small" Color="Color.Danger" Clicked="DeleteSelectedCouple">Delete selected couple</Button>
                    }
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                @if (_selectedPlayer != null)
                {
                    <Button Color="Color.Success" Clicked="SignInTeam">Sign In</Button>
                }
            </ModalFooter>
        </ModalContent>
    </Modal>
}

@code {
    [Parameter]
    public bool Show { get; set; }
    
    [Parameter] 
    public EventCallback DontShow { get; set; }
    
    [Parameter] 
    public EventCallback RefreshTournament { get; set; }    

    [Parameter]
    public TournamentDetailResponse? Tournament { get; set; }
    private bool _invitingPlayer = false;

    private List<PlayerToInviteResponse> _searchedPlayers = new();
    private PlayerDetailResponse? _selectedPlayer;

    protected override async Task OnParametersSetAsync()
    {
        if (Show)
        {
            await ShowModal();
        }
        else
        {
            await HideModal();
        }
    }
    
    private async Task OnSearch(ChangeEventArgs e)
    {
        var value = e.Value?.ToString()?.ToLower();
        if (value == null || value.Length < 3)
        {
            return;
        }
        
        try
        {
            var response = await Http.GetAsync($"tournament/{Tournament.Id}/search-invite?term={value}");
            if (response.IsSuccessStatusCode)
            {
                _searchedPlayers = await response.Content.ReadFromJsonAsync<List<PlayerToInviteResponse>>();
            }
        }
        catch (Exception)
        {
            ToastService.ShowError("Something went wrong, please try again later.");
        }
        
        StateHasChanged();
    }
    
    private async Task SignInTeam()
    {
       
        _invitingPlayer = true;
        try
        {
            var response = await Http.PostAsJsonAsync($"tournament/{Tournament.Id}/sign-in", new TournamentSignInRequest
            {
                CoupleId = _selectedPlayer.Id
            });
            
            if(response.IsSuccessStatusCode)
            {
                ToastService.ShowInfo($"You have successfully signed in to {Tournament.Name}!");
                await DontShow.InvokeAsync();
                await RefreshTournament.InvokeAsync();
            }
            else
            {
                var error = await response.Content.ReadAsStringAsync();
                ToastService.ShowError(error);
            }
            
        }
        catch (Exception)
        {
            ToastService.ShowError("Something went wrong, please try again later.");
        }
        finally
        {
            _invitingPlayer = false;
        }
    }
    
    private Modal _modalRef = new();

    private Task ShowModal()
    {
        return _modalRef.Show();
    }

    private Task HideModal()
    {
        return _modalRef.Hide();
    }


    private void SelectInvitePlayer(PlayerToInviteResponse player)
    { 
        
        _selectedPlayer = new PlayerDetailResponse
        {
            NickName = player.NickName, 
            ImageUrl = player.ImageUrl, 
            Elo = player.Elo, 
            MatchesPlayed = 0, 
            Id = player.Id
        };
    }

    private void DeleteSelectedCouple()
    {
        _selectedPlayer = null;
    }

}

<style>
    .search-players-list{
            margin: 5px;
        }
        
        .searched-player{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 5px;
        }
</style>
